.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
  width: 764px;
}
.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 1;
}
.content section {
  flex: 72;
}
.content aside {
  flex: 27;
}