.mm-blog-menu {
    height: fit-content;
    width: 100%; 
}
.mm-blog-menu ul,
.mm-blog-menu li,
.mm-blog-search ul,
.mm-blog-search li {
    list-style: none;
}
.mm-blog-menu ul,
.mm-blog-search ul {
    margin-left: 1rem;
    font-size: 0.8rem;
}
.mm-blog-menu a,
.mm-blog-search a {
    text-decoration: underline;
    margin-bottom: .5rem;
    display: block;
}
.mm-blog-menu a.active {
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
.mm-blog-menu a + ul {
    transition: all .2s ease-in-out;
    overflow: hidden;
}
.mm-blog-menu a.toggleLink {
    text-decoration: none;
    cursor: pointer;
}
.mm-blog-menu a.toggleLink:before {
    content: "";
    position: relative;
    display: inline-block;
    border: .3rem solid;
    border-color: #fff #fff #fff #000;
    margin-right: .5rem;
    transition: rotate .2s ease-in-out;
}
.mm-blog-menu a.toggleLink.open:before {
    content: "";
    rotate: 90deg;
}
.mm-blog-menu a.toggleLink.open + ul {
    max-height: 900px;
}
.mm-blog-menu a.toggleLink.close + ul {
    max-height: 0px;
}
.mm-blog-search {
    margin-top: 2rem;
}
.mm-blog-search ul {
    margin: 1rem 0;
}